---
layout: archive
title: "Cornell High-Performance Computing (HPC) Group"
permalink: /hpcgroup/
author_profile: true
---

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cornell HPC Group</title>
</head> -->
<body>
    <!-- <h1>Cornell HPC Group</h1> -->
    <hr>
    <p>Last modified on April 15, 2025.</p>
    <p>I'm the proud PhD (co-)advisor of:</p>
    <ul>
        <li><a href="https://jb2695.wixsite.com/jbellavita">Julian Bellavita</a> (2023 &mdash;); <a href="https://www.krellinst.org/csgf/profile/bellavita2024">DOE CSGF fellow</a> (2024 &mdash; 2028)</li>
        <li><a href="https://isimo00.github.io/">Irene Simó Muñoz</a> (2025 &mdash;)</li>
        <li><a href="https://l.iyi.fan/">Yifan Li</a> (2025 &mdash;)</li>
    </ul>

    <!-- <div style="height: 10px;"></div> Blank vertical space --> 

    <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .phd-gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .phd-photo {
      margin: 10px;
    }

    .phd-photo img {
      width: 750px; /* Set the desired width */
      height: auto; /* Maintain aspect ratio */
    }
    </style>

    <p>As a placeholder for a real group photo, here's a Ghibli-style photo of some of us&mdash;from left: Yifan, Irene, me, Julian, Ben (now at Cornell Tech working with <a href="https://ajhconway.com/">Professor Alex Conway</a>), and <a href="https://cecetaca.com/">Cecilio</a> (PhD student in ECE, but also member ad honorem of the Cornell HPC group).</p>

    <div class="phd-gallery">
      {% for phd in site.static_files %}
        {% if phd.path contains '/images/phds/' %}
          <div class="phd-photo">
            <img src="{{ phd.path }}" alt="Photo of Irene, Giulia, Julian, Ben, and Cecilio">
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- <div style="height: 20px;"></div> -->


    <p>Current MEng students:</p>
    <ul>
        <li>Thomas McFarland</li>
        <li>Pablo Raigoza</li>
    </ul>

    <!-- <div style="height: 20px;"></div> -->

    <p>Current undergraduate students:</p>
    <ul>
        <li>Nolan Lizmi</li>
        <li>Zander Schatzberg</li>
        <li>Aaron Li</li>
    </ul>

    <p>A group Ghibli-style picture of the Cornell HPC undergraduates&mdash;from left: Nolan, Aaron, Zander, Noam (now PhD student at Yale CS), and Thomas (now MEng student at Cornell CS).</p>

    <div class="phd-gallery">
      {% for phd in site.static_files %}
        {% if phd.path contains '/images/ugrad/' %}
          <div class="phd-photo">
            <img src="{{ phd.path }}" alt="Photo of Cornell HPC Undergraduates">
          </div>
        {% endif %}
      {% endfor %}
    </div>


    <p>For a complete list of current and past students, please see my <strong><a href="https://drive.google.com/file/d/1l2TewcjYoSb-27kNmy54glEZa6Wvc6mR/view?usp=sharing">CV</a></strong>. I might hire one PhD student with background in parallel programming and interest in high-performance computing for computational sciences next year (to start Fall 2026). The admissions process is through <a href="https://www.cs.cornell.edu/phd/admissions">Cornell CIS</a> and not through me personally.</p>
    <h2>Useful Resources for Students</h2>
    <hr>
    <p>The list is under construction but in the meantime:</p>
    <ul>
        <li><a href="https://docs.google.com/document/d/1et1FK4_GlAZrxd7JoPzfqcLAZh_9sOm7HMov_hDGo98/preview?pli=1">A doc with advice related to graduate school application</a> (I wrote this as a graduate student at UCB, but it generally applies to any research university).</li>
        <li><a href="https://github.com/shaily99/advice">A repository with advice related to graduate school application, research, and PhD related to (mostly) CS, NLP, and ML</a>.</li>
        <li><a href="https://github.com/chinasaokolo/csGraduateApps">A curated list of application resources for prospective graduate students in Computer Science</a>.</li>
        <li><a href="https://people.eecs.berkeley.edu/~pattrsn/talks/nontech.html">Non-Technical Talks by David Patterson, UC Berkeley</a>.</li>
        <li><a href="https://drive.google.com/file/d/1AQJXRWYYY4o6AnBGB26NXccOdgnbMdQw/view?usp=sharing">How to Give a Good Colloquium by John E. McCarthy, Washington University in St. Louis</a>.</li>
    </ul>
</body>
</html>
